<aside class="details">
    <div class="wrapper">
        <div class="clients">
            <h2 class="details__title">Select Clients</h2>
            <ol class="details__list">
                <li class="details__link">
                    <h4 class="details__project">
                        eHealthOntario
                    </h4>
                </li>
                <li class="details__link">
                    <h4 class="details__project">
                        Fanshawe College
                    </h4>
                </li>
                <li class="details__link">
                    <h4 class="details__project">
                        Bridgestone Tires
                    </h4>
                </li>
                <li class="details__link">
                    <h4 class="details__project">
                        3M
                    </h4>
                </li>
            </ol>
        </div>
        <div class="stack">
            <h2 class="details__title">Work Experience</h2>
            <!-- <div class="details--column"> -->
                <ol class="details__list">
                    <li class="details__link">
                        <h4 class="details__project">
                            <a href="http://filamentlab.com">Filament Creative</a>
                        </h4>
                        <ul class="tags">
                            <li>Current</li>
                        </ul>
                    </li>
                    <li class="details__link">
                        <h4 class="details__project">
                            <a href="http://blunt.af">Blunt</a>
                        </h4>
                        <ul class="tags">
                            <li>Current</li>
                        </ul>
                    </li>
                    <li class="details__link">
                        <h4 class="details__project">
                          <a href="http://res.im">ResIM</a>
                        </h4>
                    </li>
                    <li class="details__link">
                        <h4 class="details__project">
                          <a href="http://red-rhino.com">RedRhino</a>
                        </h4>
                    </li>
                </ol>
            <!-- </div> -->
        </div>
    </div>
</aside>
