<section class="details details--work">
  <div class="wrapper">
      <h2 class="details__title">Projects</h2>
      <ol class="details__list">
          <li class="details__link">
              <h4 class="details__project">
                  <a target="_blank" href="http://gordonfoundation.ca/">The Gordon Foundation <i class="details__arrow icon-arrow"></i></a>
              </h4>
          </li>
        <li class="details__link">
            <h4 class="details__project">
                <a target="_blank" href="http://fitstar.com/">Fitstar <i class="details__arrow icon-arrow"></i></a>
            </h4>
        </li>
        <li class="details__link">
            <h4 class="details__project">
                <a target="_blank" href="http://uxplaybooks.com/higher-education/">PSE Playbook <i class="details__arrow icon-arrow"></i></a>
            </h4>
        </li>
          <li class="details__link">
              <h4 class="details__project">
                  <a target="_blank" href="http://www.filamentlab.com/">Filament Creative <i class="details__arrow icon-arrow"></i></a>
              </h4>
          </li>
          <li class="details__link">
              <h4 class="details__project">
                  <a target="_blank" href="https://educatorsfinancialgroup.ca">Educators Financial Group <i class="details__arrow icon-arrow"></i></a>
              </h4>
          </li>
      </ol>
  </div>
</section>
