// $main-accent: #2fbaaf;

$main-accent: #ff2a68;
$secondary-accent: #ff5e3a;
$third-accent: #753fa9;

$light-accent: #eee;
$med-accent: darken(#eee,10%);

$serif: 'abril-text', serif;
$sans-serif: 'aktiv-grotesk', sans-serif;