// $main-accent: #2fbaaf;

$main-accent: #ff2a68;
// $secondary-accent: #ff5e3a;
$secondary-accent: #753fa9;

$light-accent: #fafafa;
$med-accent: darken($light-accent,15%);

$serif: 'abril-text', serif;
$sans-serif: 'aktiv-grotesk', sans-serif;

$large-screen: 1000px;
$medium-screen: 800px;
$small-screen: 600px;