.cta {
    display: none;
    @media (min-width: $small-screen) {
        position: absolute;
        bottom: 25px;
        left: 5%;

        display: block;

        text-align: center;

        color: $med-accent;
    }
    @media (min-width: $medium-screen) {
        &:hover .cta__icon {
            @include transform(translate(0,3px));
        }
    }
}

.cta__icon {
    font-size: .9rem;

    display: block;

    margin-top: 5px;

    @include animate-transition(transform);
}
