.social {
    margin-top: 40px;
}

.social__link {
    display: inline-block;

    padding-right: 18px;
    padding-bottom: 15px;

    font-size: 1.4375rem;
}

.social__link--email {
	font-size: 1rem;
	@media (max-width: 600px) {
		display: block;
	}
}
