.details {
    position: relative;

    padding: 2.625rem 25px 1.5rem;

    background: #fff;
    .wrapper:after {
        @include clearfix();
    }
}

.work,
.stack {
    @media (min-width: $small-screen) {
        display: inline-block;
        float: left;

        width: 50%;
        padding-right: 20px;
    }
}

.stack {
    margin-top: 2.5rem;
    @media(min-width: $small-screen) {
        margin-top: 0;
    }
}

.details--column {
    @media (min-width: $small-screen) {
        min-height: 180px;

        @include column-count(2);
    }
}

.details__list {
    font-family: $sans-serif;
    font-size: .8rem;
    font-weight: 400;

    margin-right: 3px;
    margin-bottom: 6px;

    color: #d5d5d5;
}

.details__title {
    padding-bottom: 1.25rem;
}

.details__link {
    padding-top: 10px;
}

.details__project {
    font-family: $serif;
    font-size: 1rem;

    display: inline-block;

    margin-right: 0;
    margin-bottom: 10px;

    color: #000;
    a {
        color: #000;
        &:hover {
            color: $secondary-accent;
        }
    }
}

.tags {
    display: inline-block;

    padding-left: 3px;
    li {
        display: inline-block;

        padding: 0 3px;

        color: #888;
    }
}
