.intro {
    position: relative;

    width: 100%;
    padding: 25px;

    @include flexbox(column,center,center);
    @media (min-width: $small-screen) {
        height: 100vh;
        min-height: 600px;
    }
}

.intro__content {
	width: 100%;
    max-width: 920px;

    @include flex(0 1 auto);
    @include order(0);
}

.intro__title {
    @include background(linear-gradient(to left, $main-accent 0%, $secondary-accent 30%, $secondary-accent 45%, $main-accent 100%) repeat);
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
    @media (min-width: $medium-screen) {
        animation: animatedBackground 10s ease infinite;

        background-position: 0;
        background-size: 100%;
    }
}

.intro__subtitle {
    margin-bottom: 18px;
}
