.intro {
    position: relative;

    width: 100%;
    padding: 25px;

    background: $light-accent;

    @include flexbox(column,center,center);
    @media (min-width: $small-screen) {
        height: 100vh;
        min-height: 600px;
    }
}

.intro__content {
	width: 100%;
    max-width: 571px;
}

.intro__title {
    background: -webkit-linear-gradient(120deg, $main-accent 0%, $secondary-accent 30%, $secondary-accent 45%, $main-accent 100%) repeat;
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
    @media (min-width: $medium-screen) {
        background-position: 0;
        background-size: 100%;
    }
}

.intro__subtitle {
    margin-bottom: 18px;
}
