.intro {
    position: relative;

    width: 100%;
    padding: 25px;

    @include flexbox(column,center,center);
    @media (min-width: 600px) {
        height: 100vh;
        min-height: 600px;
    }
}

.intro__content {
    max-width: 920px;

    @include flex(0 1 auto);
    @include order(0);
}

.intro__title {
    animation: animatedBackground 10s ease infinite;

    background-position: 0;
    // @include background(linear-gradient(to left, #31388d 0%, #753fa9 25%, #ff0762 40%, #f25632 60%,  #f25632 70%, #ff0762 85%, #753fa9, #31388d 100%));
    // @include background(linear-gradient(to left, $main-accent 0%, $secondary-accent 30%, $third-accent 45%, $third-accent 55%, $main-accent 100%));
    // background-size: 400%;
    background-size: 100%;

    @include background(linear-gradient(to left, $main-accent 0%, $secondary-accent 30%, $secondary-accent 45%, $main-accent 100%) repeat);
    @include background-clip(text);
    // @include text-fill-color(transparent);
    // -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro__subtitle {
    margin-bottom: 18px;
}
