*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 16px;

    background: #fafafa;
}

.wrapper {
    width: 100%;
    @media (min-width: 1000px) {
        max-width: 920px;
        margin: 0 auto;
    }
}

::selection {
    color: #fff;
    background: $main-accent;

    @include background-clip(initial);
    -webkit-text-fill-color: initial;
}
::-webkit-selection {
    color: #fff;
    background: $main-accent;

    @include background-clip(initial);
    -webkit-text-fill-color: initial;
}
::-moz-selection {
    color: #fff;
    background: $main-accent;

    @include background-clip(initial);
    -webkit-text-fill-color: initial;
}
